.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .Login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 5px;
  }
  
  .Login-field {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
  }
  
  .Login-field label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .Login-field input[type="text"],
  .login-field input[type="email"],
  .Login-field input[type="password"] {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid gray;

  }
  
  button[type="submit"] {
    padding: 0.5rem 1rem;
    background-color: rgb(154, 199, 214);
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }